[submodule "Software/mbed-os"]
	path = Software/mbed-os
	url = https://github.com/mbed-ce/mbed-os.git
[submodule "Software/pyBusPirateLite"]
	path = Software/pyBusPirateLite
	url = https://github.com/mbed-ce/pyBusPirateLite.git
